<h1 mat-dialog-title>
  <span>Pagos asociados</span>
</h1>

<div mat-dialog-content>
  <mat-nav-list>
    <mat-list-item *ngFor="let item of payments">
      <span matListItemTitle>{{item.type}}</span>
      <span matListItemLine>{{item.commentPayment}} </span>
      <span matListItemLine>{{item.createDate}}</span>
      <span matListItemLine *ngIf="item.type === 'General'">
       Total:{{item.valuePayment | currency}}

      </span>
      <span matListItemMeta *ngIf="item.type === 'Especific'">
        {{item.valuePayment | currency}}
      </span>
      <span matListItemMeta *ngIf="item.type === 'General'">
        <span *ngFor="let itemGeneral of item.DebtsAsociate">

        <span  *ngIf="itemGeneral.uid === data.debt.uid">
          {{itemGeneral.value | currency}}</span>
        </span>

      </span>
    </mat-list-item>
  </mat-nav-list>
</div>

<div mat-dialog-actions layout="row" style="display: flex; justify-content: center;">
  <button mat-stroked-button  type="button" color="primary" (click)="cancel()" cdkFocusInitial>Ok</button>
</div>
