.encabezado{
  /*  not needed styles to reflect it */
 //  background: blue;
  padding: 10px;
 //  color: white;
  width: 100%;

  /* needed styles below */
  display: flex;
  justify-content: center;
}

.div-forms{
  display: block;
  margin-bottom: 5px;
}

.icon-title {
  transform: scale(2);
  }
