<mat-nav-list>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['/contact/detail/',item.uid]" [routerLinkActive]="['active']"
    *ngFor="let item of contacts">

    <img matListItemAvatar
    src="../../../../../assets/svg/person.png"  >
    <span matListItemTitle> {{item.nickname}} </span>

    <span matListItemMeta style="margin-top: 10px;">
      <button mat-icon-button color="warn" matTooltip="Agregar deuda" matTooltipPosition="above"
        (click)="redirectToCreateDebt(item.uid)">
        <mat-icon>addchart</mat-icon>
      </button>
    </span>

    <div matListItemLine>{{item.debtTotalValue
      - item.paymentTotalValue | number}} </div>
      <mat-divider [inset]="true" style="border-top-color:rgba(0,0,0,.12);"> 1</mat-divider>
  </mat-list-item>
</mat-nav-list>
