<app-created-payment></app-created-payment>
<div *ngFor="let item of debts">

  <mat-card appearance="outlined" style="margin-top:5px;">
    <mat-card-content>

      <p matListItemTitle align="center" style="font-size: 14px;">
        {{item.concept}}
      </p>

      <p>
        <span matListItemLine>
          Deuda:<label style="color: red;">{{item.totalValue | currency}} </label>
          - Abonado: <label style="color: green;">{{item.sumPaid | currency}}</label>
        </span>
        <span matListItemLine>
          falta por pagar: <label style="color: red;">{{ item.totalValue - item.sumPaid | currency}}</label>
        </span>
        <span matListItemLine>
          Fecha de pago: <label style="color: #3f51b5;">{{item.payDate}}</label>
        </span>
        <span matListItemLine>
          creada: {{item.createDate}}
        </span>
        <span matListItemLine *ngIf="item.typeDebt==='interesFijo'" style="color:#3f51b5">
          interes de {{item.fixedInterest}}% valor inicial: {{item.debtValue | currency}}
        </span>

      </p>
    </mat-card-content>
    <mat-card-actions layout="row" style="justify-content: space-between;">
      <div [ngSwitch]="item.typeDebt" class="etiqueta">
        <div *ngSwitchCase="'sinIntereses'">
          <span>sin Intereses</span>
        </div>

        <div *ngSwitchCase="'interesFijo'" class="etiqueta">
          <span>Interes fijo</span>

        </div>

        <span *ngSwitchDefault>(No eligió operación)</span>
      </div>

      <span>

          <mat-icon  *ngIf="item.isPaid" fontIcon="task_alt" color="primary"  matTooltip="Deuda Pagada" matTooltipPosition="above"></mat-icon>

        <button mat-icon-button matTooltip="Agregar pago a esta deuda" matTooltipPosition="above" color="primary"
          (click)="openPayment($event, item)" *ngIf="!item.isPaid">
          <mat-icon>add_card</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Ver pagos asociados" matTooltipPosition="above" color="accent"
          (click)="viewAssociatedPayments($event, item)" *ngIf="item.sumPaid > 0">
          <mat-icon>receipt_long</mat-icon>
        </button>
      </span>
    </mat-card-actions>
  </mat-card>

</div>
