<form [formGroup]="frmAddPayment" (ngSubmit)="addPayment()">
    <mat-card>
      <mat-card-header class="encabezado">
        <mat-card-title style="justify-content: space-between;align-items: left;">
          <mat-icon>add_card</mat-icon> Pago general
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="center">

        <table class="full-width" cellspacing="0" cellpadding="0">
          <tr>
            <td class="full-width" colspan="">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Valor a pagar</mat-label>
                <mat-icon matPrefix>attach_money</mat-icon>
                <input matInput formControlName="valuePayment" type="number" step="any" autocomplete="off" required>
                <mat-hint align="end">{{frmAddPayment.controls['valuePayment'].value | currency}}</mat-hint>

                <mat-error *ngIf="frmAddPayment.controls['valuePayment'].errors?.['required']">
                  Campo requerido
                </mat-error>
                <mat-error *ngIf="frmAddPayment.controls['valuePayment'].errors?.['pattern']">
                  solo se aceptan numeros
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td class="full-width" colspan="">

              <mat-form-field appearance="outline" class="full-width" [class.disabled]="">
                <mat-label>Comentario</mat-label>
                <mat-icon matPrefix>comment</mat-icon>
                <textarea matInput formControlName="commentPayment" #comment></textarea>
                <mat-hint align="end">
                  {{comment.value.length }}
                </mat-hint>
                <mat-error *ngIf="frmAddPayment.controls['commentPayment'].errors?.['maxlength']">
                  maximo 100 caracteres
                </mat-error>
              </mat-form-field>

            </td>
          </tr>

        </table>
      </mat-card-content>
      <mat-card-actions align="center" >
        <button mat-button color="warn" type="button" mat-stroked-button (click)="cancel()">Cancelar</button>
        <button mat-button color="primary" mat-stroked-button ty>Agregar pago</button>
      </mat-card-actions>
    </mat-card>
  </form>
