.disabled {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.38);

}
::ng-deep .disabled .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
  color: #5f5d5d;
}

::ng-deep .mat-mdc-card-header-text{
  width: 100%;
  text-align: center;
}
.full-width{
  width: 100%;
}
