<mat-card  appearance="outlined"  class="backgroundRed">
  <mat-card-header  class="encabezado">
    <mat-card-title>Total prestado</mat-card-title>
  </mat-card-header>

  <mat-card-content  align="center">
    <p>
      <mat-icon class="valueRed">payment</mat-icon>
      <span class="value-align valueRed" *ngIf="hideBorrowed">{{this.totalDebt | currency}}</span>
      <span class="value-align valueRed hide-value" *ngIf="!hideBorrowed">*******</span>

    </p>
  </mat-card-content>


  <mat-card-actions align="end">

    <button mat-icon-button matSuffix color="primary" (click)="isHideBorrowed()" matTooltip="Ver u ocultar valores" matTooltipPosition="above"
              [attr.aria-pressed]="hideBorrowed">
              <mat-icon>{{hideBorrowed ?  'visibility': 'visibility_off' }}</mat-icon>
            </button>
  </mat-card-actions>
</mat-card>

<br>

<mat-card appearance="outlined" class="backgroundGreen">
  <mat-card-header class="encabezado">
    <mat-card-title>Total recaudado</mat-card-title>
  </mat-card-header>

  <mat-card-content  align="center" >

    <p>
       <mat-icon class="valueGreen">payments</mat-icon>
        <span class="value-align valueGreen" *ngIf="hideCollected">{{this.totalPayments | currency}}</span>
        <span class="value-align valueGreen hide-value" *ngIf="!hideCollected">*******</span>
      </p>
  </mat-card-content>


  <mat-card-actions align="end">

    <button mat-icon-button color="primary" matSuffix (click)="isHideCollected()" matTooltip="Ver u ocultar valores" matTooltipPosition="above"
              [attr.aria-pressed]="hideCollected">
              <mat-icon>{{hideCollected ?'visibility': 'visibility_off'}}</mat-icon>
            </button>
  </mat-card-actions>
</mat-card>
<br>
<div style="text-align: center;">

  <button  mat-button color="primary"  mat-stroked-button (click)="redirectToDebt()" > <mat-icon>credit_card</mat-icon> Crear deuda</button>
  <button  mat-button color="warm"  mat-stroked-button (click)="test()" > <mat-icon>credit_card</mat-icon> Email Test</button>

</div>

