
<div *ngFor="let item of payments">
    <mat-card >
        <mat-card-content align="center">

            <div><span>{{item.type}}</span></div>
            <div> <span>{{item.valuePayment | currency}}</span> </div>
            <div><span>{{item.commentPayment}}</span></div>
            <div><span>Fecha:</span>{{item.createDate}} </div>

        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-button color="primary" mat-stroked-button ty (click)="deletePaymentById($event,item.uid)">Eliminar pago</button>
        </mat-card-actions>

    </mat-card>
</div>
