<div class="contenedor">
  <form [formGroup]="frmCreateDebt" (ngSubmit)="createDebit()">
    <mat-card appearance="outlined">
      <mat-card-header class="encabezado">
        <mat-card-title>
          Crear Deuda
        </mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">

        <div class="div-forms" style="margin-bottom: 10px;">
          <mat-slide-toggle formControlName="isGroupDebt" color="primary">
            ¿Es una deuda grupal?
            <span>{{frmCreateDebt.controls['isGroupDebt'].value?'Si': 'No'}}</span>
          </mat-slide-toggle>
        </div>
        <div class="div-forms">
          <mat-form-field appearance="fill" class="">
            <mat-label>Valor a pagar</mat-label>
            <mat-icon matPrefix>attach_money</mat-icon>
            <input matInput formControlName="debtValue" type="number" step="any" autocomplete="off"  required>
            <mat-hint align="end">{{frmCreateDebt.controls['debtValue'].value | currency}}</mat-hint>

            <mat-error *ngIf="frmCreateDebt.controls['debtValue'].errors?.['required']">
              Campo requerido
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['debtValue'].errors?.['pattern']">
              solo se aceptan numeros
            </mat-error>
          </mat-form-field>
        </div>

        <div class="div-forms">
          <mat-form-field appearance="fill">
            <mat-label>Seleccione un contacto</mat-label>
            <mat-icon matPrefix>people</mat-icon>
            <mat-select formControlName="contacts">
              <mat-option *ngFor="let conts of contactList" [value]="conts.value">
                {{conts.viewValue}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="frmCreateDebt.controls['contacts'].errors?.['required']">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="div-forms">
          <mat-form-field appearance="fill" class="">
            <mat-label>por concepto de</mat-label>
            <mat-icon matPrefix>speaker_notes</mat-icon>
            <textarea matInput formControlName="concept" autocomplete="off"  required></textarea>
            <mat-hint></mat-hint>
            <mat-error *ngIf="frmCreateDebt.controls['concept'].errors?.['required']">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="div-forms">
          <mat-form-field appearance="fill">
            <mat-label>Seleccione un tipo de deuda</mat-label>
            <mat-icon matPrefix>payment</mat-icon>
            <mat-select formControlName="typeDebt">
              <mat-option *ngFor="let type of typeDebtList" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="frmCreateDebt.controls['typeDebt'].errors?.['required']">
              Campo requerido
            </mat-error>
          </mat-form-field>

        </div>
        <div class="div-forms">
          <mat-form-field appearance="fill">
            <mat-label>Fecha de pago</mat-label>
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <input matInput [matDatepicker]="picker" formControlName="payDate" autocomplete="off" >
            <mat-hint>MM/DD/YYYY</mat-hint>

            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
          {{frmCreateDebt.controls['payDate'].value}}
        </div>
        <div class="div-forms" *ngIf="frmCreateDebt.controls['typeDebt'].value ==='interesFijo'">
          <!-- interesFijo -->
          <mat-form-field appearance="fill" class="">
            <mat-label>Interes fijo</mat-label>
            <mat-icon matPrefix>percent</mat-icon>
            <input matInput formControlName="fixedInterest" type="number" step="any" maxlength="2" required>

            <mat-error *ngIf="frmCreateDebt.controls['fixedInterest'].errors?.['required']">
              Campo requerido
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['fixedInterest'].errors?.['pattern']">
              solo se aceptan numeros
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['fixedInterest'].errors?.['maxLength']">
              escribiste mas de 2 digitos
            </mat-error>
          </mat-form-field>
        </div>

        <div class="div-forms">
          <mat-slide-toggle formControlName="isFixedFees" color="primary">
            ¿Tiene cuotas fijas?
            <span>{{frmCreateDebt.controls['isFixedFees'].value?'Si': 'No'}}</span>
          </mat-slide-toggle>
        </div>

        <div class="div-forms" *ngIf="frmCreateDebt.controls['isFixedFees'].value">
          <mat-form-field appearance="fill">
            <mat-label>Seleccione ciclo de pago</mat-label>
            <mat-icon matPrefix>payment</mat-icon>
            <mat-select formControlName="paymentCycle">
              <mat-option *ngFor="let type of PaymentCiclelist" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="frmCreateDebt.controls['paymentCycle'].errors?.['required']">
              Campo requerido
            </mat-error>
          </mat-form-field>

        </div>


        <div class="div-forms" *ngIf="frmCreateDebt.controls['isFixedFees'].value">

          <mat-form-field appearance="fill" class="">
            <mat-label>Dia de pago</mat-label>
            <mat-icon matPrefix>payments</mat-icon>
            <input matInput formControlName="paymentDay" type="number" min="1" max="31" step="1" maxlength="2"
              autocomplete="off" required>

            <mat-error *ngIf="frmCreateDebt.controls['paymentDay'].errors?.['required']">
              Campo requerido
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['paymentDay'].errors?.['pattern']">
              Solo se aceptan numeros
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['paymentDay'].errors?.['maxlength']">
              Maximo 2 digitos
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['paymentDay'].errors?.['max']">
              Valor maximo 31
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['paymentDay'].errors?.['min']">
              valor minimo 1
            </mat-error>
          </mat-form-field>

        </div>


        <div class="div-forms" *ngIf="frmCreateDebt.controls['isFixedFees'].value">

          <mat-form-field appearance="fill" class="">
            <mat-label>Numero de cuotas</mat-label>
            <mat-icon matPrefix>tag</mat-icon>
            <input matInput formControlName="numberFees" type="number" min="1" max="99" step="1" autocomplete="off"
              required>

            <mat-error *ngIf="frmCreateDebt.controls['numberFees'].errors?.['required']">
              Campo requerido
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['numberFees'].errors?.['pattern']">
              solo se aceptan numeros
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['numberFees'].errors?.['maxlength']">
              maximo 2 digitos
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['numberFees'].errors?.['max']">
              Valor maximo 99
            </mat-error>
            <mat-error *ngIf="frmCreateDebt.controls['numberFees'].errors?.['min']">
              valor minimo 1
            </mat-error>
          </mat-form-field>
        </div>



      </mat-card-content>

      <mat-card-actions>
        <div style="width: 100%;text-align: center;">
          <button mat-button color="primary" mat-stroked-button ty>Guardar</button>
        </div>

      </mat-card-actions>

    </mat-card>
  </form>
</div>
