<div class="contenedor">
  <mat-card appearance="outlined" class="">
    <mat-card-header class="encabezado">
      <mat-card-title>borrow APP
      </mat-card-title>
      <mat-card-subtitle>
        <ng-lottie [options]="wallet" width="400px" height="100px" (animationCreated)="animationCreated($event)">
        </ng-lottie>
      </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form [formGroup]="frmSesion" (ngSubmit)="SignIn()">
          <mat-form-field appearance="outline">
            <mat-label>
              Nombre de usuario
              <mat-icon>alternate_email</mat-icon>
            </mat-label>
            <input matInput type="text" placeholder="  Usuario" formControlName="user" class="form-control"
              maxlength="30">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-hint>Email registrado en la aplicación</mat-hint>
            <mat-error *ngIf="errorHandling('user', 'required')">
              Campo obligatorio
            </mat-error>

            <mat-error *ngIf="errorHandling('user', 'minlength')" class="invalid-tooltip">
              Minimo 6 caracteres
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña <mat-icon>lock</mat-icon>
            </mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"
              class="form-control" maxlength="50">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Contraseña para registrar sesión</mat-hint>
            <mat-error *ngIf="errorHandling('password', 'required')">
              Campo obligatorio
            </mat-error>

            <mat-error *ngIf="errorHandling('password', 'minlength')">
              Minimo 6 caracteres
            </mat-error>
          </mat-form-field>
          <div class="center-xs center-sm center-md center-lg ">
            <span (click)="forgotPasswordModalOpen()" class="links">¿Olvidaste tu contraseña?</span>


          </div>
          <div>
            <button class="sign-in" type="submit" mat-raised-button color="primary" [disabled]="!frmSesion.valid"
              *ngIf="!cargando">
              <span> Iniciar sesion </span>
            </button>
            <button type="button" mat-flat-button color="warn" [disabled]="false" *ngIf="cargando">
              <i class="fa fa-spin fa-sync"></i>
              Espere ...
            </button>

            <p *ngIf="messageErr != ''" style="color:red">
              <mat-icon>error_outline</mat-icon>
              <br>
              <span> {{ this.messageErr}} </span>
            </p>
          </div>
          <mat-divider></mat-divider>
          <div>
            <button class="btn-google" type="submit" mat-raised-button (click)="authService.GoogleAuth()">
              <img class="google-icon" src="../../../../assets/svg/google_icon.png" alt="">
              <span style="vertical-align: super;"> Ingresa con Google </span>
            </button>
          </div>
          <div class="center-xs center-sm center-md center-lg">
            ¿Es la primer vez que vas a ingresar?
            <br>
            <span class="links" (click)="signUpModalOpen()">
              <!-- Sign Up -->
              Regístrate
            </span>
          </div>
        </form>

      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="area" >
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div >
