<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" [opened]="(isHandset$ | async) === false">
    <div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg ">
        <div *ngIf="dataUser.photoURL != null">
          <img class="image-profile" [src]="this.dataUser.photoURL" >
        </div>
        <div *ngIf="dataUser.photoURL == null">
          <img class="image-profile" src="../../../../assets/svg/account.svg" alt="">
        </div>
      </div>
    </div>
    <div class="center-xs center-sm center-md center-lg">
      <p>{{dataUser.displayName}}</p>
      <p>{{dataUser.email}}</p>

    </div>
    <mat-divider></mat-divider>
    <div routerLinkActive="active-link" *ngIf="this.identity === 'Administrator'"
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg link-menu">
      <a routerLink="/Admin/list">Vehiculos</a>
    </div>

    <mat-divider></mat-divider>
    <div routerLink="/dashboard" routerLinkActive="active-link"
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg link-menu">
    <a mat-button color="primary"> <mat-icon class="icon-style" >home</mat-icon>Inicio</a>
  </div>
    <mat-divider></mat-divider>
    <div routerLink="/contact/list" routerLinkActive="active-link"
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg link-menu">
    <a mat-button color="primary"> <mat-icon  class="icon-style" >groups_3</mat-icon>conatctos</a>
  </div>

  <mat-divider></mat-divider>
  <div routerLink="/contact/create" routerLinkActive="active-link"
  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg link-menu">
  <button mat-button color="primary"> <mat-icon  class="icon-style" >person_add</mat-icon> crear conatctos</button>
</div>

  <mat-divider></mat-divider>
  <div routerLink="/debt" routerLinkActive="active-link"
  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg link-menu">
  <button mat-button color="primary"> <mat-icon  class="icon-style" >stacked_bar_chart</mat-icon>Reporte GRL</button>
</div>
<mat-divider></mat-divider>
<div [routerLink]="['debt','list']" routerLinkActive="active-link"
class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg link-menu">
<button mat-button color="primary"> <mat-icon  class="icon-style" >payments</mat-icon>debt by contact</button>
</div>


    <!-- este es el menu clasico -->
    <!-- <mat-nav-list class="sidebar-menu"> -->


    <!-- <app-menu-list-items

          *ngFor="let item of navItems"
          [item]="item"
        ></app-menu-list-items> -->
    <!-- </mat-nav-list> -->
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <!-- <fa-icon class="mat-icon-singOut" [icon]="faBars"></fa-icon> -->
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <img style="height: 100px; width: 200px;" src="../../../../assets/svg/LasDosRuedasBlanco.png" alt=""> -->
      <span class="division-titulo"></span>
      <span class="example-spacer"></span>
      <span style="color:white; margin-right: 3px;"> {{this.identity}}</span>
      <button *ngIf="this.isIdentity" mat-button (click)="logUp()">
        <span>
          Salir

          <fa-icon class="fa fa-arrow-right" [icon]="faArrowRight" style="margin-left: 5px;" aria-hidden="true">
          </fa-icon>

        </span>
      </button>
      <div>

        <button *ngIf="!this.isIdentity" mat-button matTooltip="Cerrar sesión" (click)="logUp()">

          <ng-lottie [options]="lottielogoutOptions" width="25px" height="25px" (animationCreated)="animationCreated($event)">
          </ng-lottie>

        </button>
      </div>
    </mat-toolbar>


    <ng-content>



    </ng-content>
    <!-- <app-footer></app-footer> -->

  </mat-sidenav-content>
</mat-sidenav-container>
