<mat-sidenav-container class="sidenav-container" [hasBackdrop]="currentScreenSize.includes('Small')?true:false">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="currentScreenSize.includes('Small')?'over':'side'" [opened]="(isHandset$ | async) === false">
    <div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg ">
        <div *ngIf="dataUser.photoURL != null">
          <img class="image-profile" [src]="this.dataUser.photoURL">
        </div>
        <div *ngIf="dataUser.photoURL == null">
          <img class="image-profile" src="../../../../assets/svg/account.svg" alt="">
        </div>
      </div>
    </div>
    <div class="center-xs center-sm center-md center-lg">
      <p>{{dataUser.displayName}}</p>
      <p>{{dataUser.email}}</p>

    </div>

    <mat-nav-list>
      <mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="['active']"
        *ngIf="this.identity === 'Administrator'">
        <a routerLink="/Admin/list">Administrador</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="center">
        <span matListItemTitle>
          <mat-icon color="primary">home</mat-icon>
        </span>
        <span matListItemLine>
          <label color="primary">Home </label>
        </span>

      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/contact/list']" [routerLinkActive]="['active']"  class="center" >
        <span matListItemTitle>
          <mat-icon color="primary">groups_3</mat-icon>
        </span>
        <span matListItemLine>
          <label color="primary">Contactos </label>
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <img style="height: 100px; width: 200px;" src="../../../../assets/svg/LasDosRuedasBlanco.png" alt=""> -->
      <span class="division-titulo"></span>
      <span class="example-spacer"></span>
      <span style="color:white; margin-right: 3px;"> {{this.identity}}</span>
      <button *ngIf="this.isIdentity" mat-button (click)="logUp()">
        <span>
          Salir

          <fa-icon class="fa fa-arrow-right" [icon]="faArrowRight" style="margin-left: 5px;" aria-hidden="true">
          </fa-icon>

        </span>
      </button>
      <div>

        <button *ngIf="!this.isIdentity" mat-button matTooltip="Cerrar sesión" (click)="logUp()">

          <ng-lottie [options]="lottielogoutOptions" width="25px" height="25px"
            (animationCreated)="animationCreated($event)">
          </ng-lottie>

        </button>
      </div>
    </mat-toolbar>


    <ng-content>



    </ng-content>
    <!-- <app-footer></app-footer> -->

  </mat-sidenav-content>
</mat-sidenav-container>
