<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Terminos y condiciones</ng-template>
    <form [formGroup]="firstFormGroup">

      <mat-accordion class="example-headers-align">

        <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Terminos y condiciones
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? 'Contraer' : 'Expandir'}}
              <mat-icon>{{panelOpenState ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>punto 1</p>
          <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y
            archivos de texto.
            Lorem Ipsum
            ha sido el texto de relleno estándar de las industrias desde el año 1500,
            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y
            los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años,
            sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al
            original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes
            de Lorem Ipsum,
            y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones
            de Lorem Ipsum.
          </p>
          <p>punto 2</p>
          <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y
            archivos de texto.
            Lorem Ipsum
            ha sido el texto de relleno estándar de las industrias desde el año 1500,
            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y
            los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años,
            sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al
            original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes
            de Lorem Ipsum,
            y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones
            de Lorem Ipsum.
          </p>
          <p>punto 3</p>
          <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y
            archivos de texto.
            Lorem Ipsum
            ha sido el texto de relleno estándar de las industrias desde el año 1500,
            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y
            los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años,
            sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al
            original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes
            de Lorem Ipsum,
            y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones
            de Lorem Ipsum.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-divider></mat-divider>
      <br>
      <mat-checkbox formControlName="acceptTerms">Acepto los terminos y condiciones</mat-checkbox>


      <mat-error *ngIf="errorHandling('acceptTerms', 'required')">
        Para continuar es necesario aceptar los terminos y condiciones
      </mat-error>

      <div>
        <br>
        <button mat-button matStepperNext mat-raised-button color="primary">Siguiente
          paso</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" class="example-form">
      <ng-template matStepLabel>Información básica</ng-template>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td class="example-full-width" colspan="2">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>email</mat-label>
              <input matInput formControlName="email" placeholder="email" required>

              <mat-error *ngIf="secondFormGroup.controls.email.errors?.['required']">
                Campo requerido
              </mat-error>

              <mat-error *ngIf="secondFormGroup.controls.email.errors?.['email']">
                Error de formato en el email
              </mat-error>

            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <span matPrefix>+ &nbsp;</span>
              <mat-label>Indicativo</mat-label>
              <input matInput type="number" formControlName="indicative" placeholder="Indicativo de país" minlength="2"
                maxlength="2" required>

              <mat-error *ngIf="secondFormGroup.controls.indicative.errors?.['required']">
                Campo requerido
              </mat-error>
              <mat-error *ngIf="secondFormGroup.controls.indicative.errors?.['pattern']">
                por favor verifique el indicativo del pais
              </mat-error>


            </mat-form-field>
          </td>
          <td>

            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Number phone</mat-label>
              <input type="tel" matInput formControlName="numberPhone" placeholder="555-555-1234" required>

              <mat-error *ngIf="secondFormGroup.controls.numberPhone.errors?.['required']">
                Campo requerido
              </mat-error>
              <mat-error *ngIf="secondFormGroup.controls.numberPhone.errors?.['pattern']">
                el formato del numero de celular no es correcto
              </mat-error>

            </mat-form-field>
          </td>
        </tr>
      </table>



      <br>








      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
